# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
*.DS_Store
*.mp4
*.wav
*.png


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


CollectedData/

Publisher/build
Publisher/install
Publisher/log


Receiver/build
Receiver/install
Receiver/log

data/
data1.0/